.slider-container
  .slides.fade
    .slider-image
      img(src='assets/img/slider-photo-1-comp.jpg' alt='background_1')
  .slides.fade
    .slider-image
      img(src='assets/img/slider-photo-2-comp.jpg' alt='background_2')
  